Data munging/wrangling é o processo de converter e mapear dados de um estado bruto em outro formato que permita manipular os dados com ferramentas de mais alto nível, como por exemplo: aplicar algoritmos de Machine Learning

Series é um array unidimensional que contem um array de dados e um array de labels, chamado índice

In [2]:
import pandas as pd

Obj2 = pd.Series([4, 7, -5, 3], index = ['a', 'b', 'c', 'd'])

print(Obj2)

a    4
b    7
c   -5
d    3
dtype: int64

Dataframes representam uma estrutura tabular semelhante a estrutura de uma planilha de Microsoft Excel, contendo uma coleção de colunas em que cada uma pode ser um diferente tipo de valor (numero, string, etc...)

Dataframes possuem índices e linhas. Os dados de um dataframe são armazenados em um ou mais blocos bidimensionais, ao invés de listas e dicionarios

In [3]:
data = {'Estado': ['Santa Catarina', 'Paraná', 'Goiás', 'Bahia', 'Minas Gerais'],
        'Ano': [2002, 2003, 2004, 2005, 2006],
        'População': [20.4, 20.5, 10.4, 11.4, 12.4]}

frame = pd.DataFrame(data)
print(frame)

           Estado   Ano  População
0  Santa Catarina  2002       20.4
1          Paraná  2003       20.5
2           Goiás  2004       10.4
3           Bahia  2005       11.4
4    Minas Gerais  2006       12.4

In [3]:
dict = {'Futebol': 5200, 'Tenis': 120}
Obj3 = pd.Series(dict)
print(Obj3)

Futebol    5200
Tenis       120
dtype: int64

In [ ]:
esportes = ['Futebol', 'Tenis', 'Natação']

Dataframes com pandas

In [21]:
data = {'Estado': ['Santa Catarina', 'Paraná', 'Goiás', 'Bahia', 'Minas Gerais'],
        'Ano': [2002, 2003, 2004, 2005, 2006],
        'População': [20.4, 20.5, 10.4, 11.4, 12.4]}

frame = pd.DataFrame(data)
print(frame)

type(frame)

frame2 = pd.DataFrame(data, columns = ['Ano', 'Estado', 'População', 'Débito'],
                                index = ['um', 'dois', 'três', 'quatro', 'cinco'])

print(frame2)

print(frame2['Estado'])

print(frame2.Estado)

print(frame2[:3])

           Estado   Ano  População
0  Santa Catarina  2002       20.4
1          Paraná  2003       20.5
2           Goiás  2004       10.4
3           Bahia  2005       11.4
4    Minas Gerais  2006       12.4
         Ano          Estado  População Débito
um      2002  Santa Catarina       20.4    NaN
dois    2003          Paraná       20.5    NaN
três    2004           Goiás       10.4    NaN
quatro  2005           Bahia       11.4    NaN
cinco   2006    Minas Gerais       12.4    NaN
um        Santa Catarina
dois              Paraná
três               Goiás
quatro             Bahia
cinco       Minas Gerais
Name: Estado, dtype: object
um        Santa Catarina
dois              Paraná
três               Goiás
quatro             Bahia
cinco       Minas Gerais
Name: Estado, dtype: object
       Ano          Estado  População Débito
um    2002  Santa Catarina       20.4    NaN
dois  2003          Paraná       20.5    NaN
três  2004           Goiás       10.4    NaN

In [34]:
import numpy as np

frame2['Débito'] = np.arange(5.)

print(frame2)
print(frame2.values)

frame2.describe()


print(frame2[['Estado','População']])

         Ano          Estado  População  Débito
um      2002  Santa Catarina       20.4     0.0
dois    2003          Paraná       20.5     1.0
três    2004           Goiás       10.4     2.0
quatro  2005           Bahia       11.4     3.0
cinco   2006    Minas Gerais       12.4     4.0
[[2002 'Santa Catarina' 20.4 0.0]
 [2003 'Paraná' 20.5 1.0]
 [2004 'Goiás' 10.4 2.0]
 [2005 'Bahia' 11.4 3.0]
 [2006 'Minas Gerais' 12.4 4.0]]
                Estado  População
um      Santa Catarina       20.4
dois            Paraná       20.5
três             Goiás       10.4
quatro           Bahia       11.4
cinco     Minas Gerais       12.4