In [69]:
import pandas as pd
frame = pd.read_csv("../data//salarios.csv")
frame

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,88965.0
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,80778.0
2,"AARON, KARINA",POLICE OFFICER,POLICE,80778.0
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,84780.0
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,104736.0
...,...,...,...,...
32177,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,86520.0
32178,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,83616.0
32179,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,86520.0
32180,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,110352.0
32181,NaN,NaN,NaN,NaN

Mostrar média do salario agrupado por função

In [70]:
print("Média do salário dos funcionários")
frame.groupby('Position Title')['Employee Annual Salary'].mean()

Média do salário dos funcionários

Position Title
1ST DEPUTY INSPECTOR GENERAL    137052.000000
A/MGR COM SVC-ELECTIONS          99816.000000
A/MGR OF MIS-ELECTIONS           94932.000000
A/MGR WAREHOUSE-ELECTIONS        71364.000000
A/SUPRV REDISTRICTING            57642.000000
                                    ...
WINDOW WASHER                    47320.000000
YOUTH SERVICES COORD             70567.500000
ZONING ADMINISTRATOR            139800.000000
ZONING INVESTIGATOR              97596.000000
ZONING PLAN EXAMINER             59607.428571
Name: Employee Annual Salary, Length: 1094, dtype: float64

Mostrando a quantidade de funcionários por cargo

In [85]:
frameSemOrdenar = frame.groupby('Position Title').size()
frameSemOrdenar.sort_values(ascending=False)

Quantidade de funcionários

Position Title
POLICE OFFICER                            9489
FIREFIGHTER-EMT                           1191
SERGEANT                                  1138
FIREFIGHTER                                970
POLICE OFFICER (ASSIGNED AS DETECTIVE)     808
                                          ...
FIRE PREVENTION ENGINEER                     1
FIRST ASST CORPORATION COUNSEL               1
FIRST DEPUTY BUDGET DIR                      1
FIRST DEPUTY CHIEF ADMINISTRATOR             1
FORENSIC AUDIT INVESTIGATOR                  1
Length: 1094, dtype: int64